html, body {
  height: 100%;
  width: auto;
  max-width: 100%;
}
body {
  background-color: $black;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @include transition(all 0.4s);;
}

section {
  @include padding(unit(1) null);
}

.panel {
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-sizing: border-box;
  display: table;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  table-layout: fixed;
  @include prefixer(box-shadow, (0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2)), webkit moz ms o spec);
  @include padding(unit(1));
  &-media {
    display: block;
    height: 100%;
    @include margin(-15px -15px null);
  }
  &-body {
    display: table-row;
  }
  &-footer {
    display: table-row;
    height: 1px;
    padding-top: unit(1);
  }
}

.sticky-footer-wrap {
  position: relative;
  display: table;
  overflow: hidden;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  .content-wrap {
    display: table-row;
    height: 100%;
  }
  .footer-wrap {
    display: table-row;
    height: 1px;
  }
}
